# day01 - Трудно жить без даты!

---

Импортируем библиотеки с которыми мы уже встречались, и которые нам понадобятся в дальнейшем:

In [134]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta, date, time

---

## Неоднозначное соответствие единиц измерения времени

В этом разделе представлены величины, имеющие несколько значений. Именно эти величины чаще всего используются в повседневной жизни, поэтому необходимо научиться их рассчитывать.

- месяц - примерно 30 суток (от 28 до 31):
    - январь, март, май, июль, август, октябрь и декабрь - 31 день
    - апрель, июнь, сентябрь, ноябрь - 30 дней
    - февраль - 28 или 29 дней
- в году от 52 до 54 недель в зависимости от способа счисления, которые различаются, например, в США и Канаде от Европы
- согласно ISO 8601, первой неделей года считается неделя, содержащая первый четверг года
    - если 1 января или 31 декабря выпадает на четверг (или 1 января выпадает на среду в високосный год), то год содержит 53 недели
    - в остальных случаях год содержит 52 недели
- год содержит 365 или 366 дней
- Високосный год определяется согласно следующим правилам:
    - если год без остатка делится на 400, то это високосный год
    - если год без остатка делится на 4 и при делении на 100 имеет остаток, то это високосный год
    - в остальных случаях год не является високосным

---

Научимся определять високосный год. Напишем для этого функцию, которая будет возвращать True, если год високосный и False, в противном случае:

In [ ]:
def day366(year):
    return (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0)

---

Проверим, как работает наша функция на тестовых данных 2000, 2019, 2020, 2021 и 2100 годов:

In [ ]:
years = [1900, 2000, 2019, 2020, 2021, 2100]
for j in years:
    print(j, day366(j))

1900 False
2000 True
2019 False
2020 True
2021 False
2100 False

---

# Задание 1

Поздравить знакомого с Днем Рождения коротким сообщением для большинства из нас не составляет труда. С другой стороны проявленный акт внимания создает хорошее настроение и сохраняет социальные связи. Напишите код, который определяет дату рождения в игровой форме.  
Пример:
Один человек выясняет у другого дату рождения:
   - У тебя День рождения в июне?
   - Раньше.
   - В апреле?
   - Да.
   - 15-го числа?
   - Позже.
   - 20-го?
   - Да.
   - У тебя День Рождения 20 апреля
   
Механизм взаимодействия:
1. Функция get_month() формирует запросы к функции month_of_birth(month)
2. Функция month_of_birth(month, m_o_b = number_of_month) проверяет month == m_o_b:
  - Если равны, то функция возвращает значение 'да'
  - Если month > m_o_b, то значение 'раньше'
  - Если month < m_o_b, то значение 'позже'
3. Как только получено значение 'да', get_month() прекращает работу и возвращает значение полученного month, переведенного в название месяца
4. Функция get_day() формирует запросы к функции day_of_birth(day)
5. Функция day_of_birth(day, d_o_b = number_of_day) проверяет day == d_o_b:
    - Если равны, то функция возвращает значение 'да'
    - Если day > d_o_b, то значение 'раньше'
    - Если day < d_o_b, то значение 'позже'
6. Как только получено значение 'да', get_day() прекращает работу и возвращает значение полученного day
7. Публикация результата в формате "число месяц", например, 20 апреля
Вам нужно написать код так, чтобы, поменявшись функциями get, вам не пришлось редактировать код для его выполнения. Постарайтесь разработать алгоритм, чтобы общее число запросов не превышало 10.

*Рекомендация: Для того, чтобы точно были совместимы возвращаемые функциями ответы, лучше принудительно приводить строку к строчным буквам и без пробелов. Для этого используйте следующий код:*

***s = s.lower().replace(' ', '')*** *здесь s - это строка, требующая изменений*

Дополнительная информация по работе со строковыми переменными:

[Официальная документация](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str)

[Справочник основных функций на русском языке](https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html)

---

In [117]:
"""Решение задания 1"""

number_of_month = 2               # глобальная переменная месяца даты рождения, необходимо присвоение значения
number_of_day = 30                 # глобальная переменная дня даты рождения, необходимо присвоение значения

import calendar


def month_of_birth(month, m_o_b = number_of_month):
    "Функция принимает значение month, сравнивает с m_o_b и возвращает результаты сравнения"
    if month == m_o_b:
        s = 'Да'
    if month > m_o_b:
        s = 'раньше'
    if month < m_o_b:
        s = 'позже'
    s = s.lower().replace(' ', '') 
    return s


def day_of_birth(day, d_o_b = number_of_day):
    "Функция принимает значение day, сравнивает его с d_o_b и возвращает результаты сравнения"
    if day == d_o_b:
        s = 'да'
    if day > d_o_b:
        s = 'раньше'
    if day < d_o_b:
        s = 'позже'
    s = s.lower().replace(' ', '')
    return s


def get_month():
    """Функция формирует запросы month и анализирует результаты сравнения, переводит номер найденного месяца в 
    строку его названия и возвращает результат"""
    start = 1
    end = 12
    mid = 6
    step = 0
    answer = month_of_birth(mid)
    months = ['январе', 'феврале', 'марте', 'апреле', 'мае', 'июне', 'июле', 'августе', 'сентябре', 'октябре', 'ноябре', 'декабре']
    while answer != "да":
        print('У тебя День рождения в  ', months[mid - 1], '?')
        print(answer)
        if answer == "раньше":
          end = mid - 1
        elif answer == "позже": 
          start = mid + 1
        mid = (start + end) // 2
        answer = month_of_birth(mid)
        step += 1
    print('У тебя День рождения в  ', months[mid - 1], '?')
    print(answer)
    months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
    return (months[mid - 1])


def get_day():
    "Функция формирует запросы day и анализирует результаты сравнения, возвращает результат"
    start = 1
    end = 31
    mid = 15
    step = 0
    answer = day_of_birth(mid)
    while answer != "да":
        print(mid, 'числа')
        print(answer)
        if answer == "раньше":
            end = mid - 1
        elif answer == "позже": 
            start = mid + 1
        mid = (start + end) // 2
        answer = day_of_birth(mid)
        step += 1
    print(mid, 'числа')
    print(answer)
    return (mid)


def birthday():                    # функция, запускающая процесс определения даты рождения и выводящая результат
   if isinstance(number_of_month, int) and isinstance(number_of_day, int) and number_of_month in range(1, 13) and  number_of_day in range(1, calendar.monthrange(2020, number_of_month)[1] + 1):
        print(get_day(), get_month())
   else:
        print("Некорректные даты!")
   
birthday()

Некорректные даты!

---

## Классы и методы модуля DateTime

Модуль [DateTime](https://docs.python.org/3/library/datetime.html) предназначен для управления датами и временем в Python.

In [ ]:
from datetime import datetime, timedelta, date, time

In [ ]:
Time_Now = datetime.now() # возвращает текущие дату и время (год, месяц, число, час, минута, секунда, микросекунда)
Time_Now

datetime.datetime(2021, 12, 27, 4, 50, 12, 819516)

In [ ]:
datetime.date(Time_Now) # отсекает время и оставляет только дату

datetime.date(2021, 12, 27)

In [ ]:
datetime.time(Time_Now) # отсекает дату, оставляя только время

datetime.time(4, 50, 12, 819516)

In [ ]:
print(datetime.isoformat(Time_Now, sep='T'))                       # Дата и время с разделителем 'T'
print(datetime.isoformat(Time_Now, sep=' '))                       # Дата и время с разделителем ' '
print(datetime.isoformat(Time_Now, timespec = 'seconds', sep=' ')) # С детализацией до секунд

2021-12-27T04:50:12.819516
2021-12-27 04:50:12.819516
2021-12-27 04:50:12

In [ ]:
datetime.isocalendar(Time_Now) # Возвращает в соответствии с ISO год, номер недели, номер дня недели

(2021, 52, 1)

In [ ]:
datetime.isoweekday(Time_Now) # Номер дня недели (понедельник - 1)

1

In [ ]:
new_year = datetime.strptime('2021-01-01 00:00:01', '%Y-%m-%d %H:%M:%S') # Распознаем из строки дату и время 
new_year                                                                 # согласно формату '%Y-%m-%d %H:%M:%S'

datetime.datetime(2021, 1, 1, 0, 0, 1)

In [ ]:
new_year.strftime("%A, %d. %B %Y %H:%M") # преобразуем дату и время к строке

'Friday, 01. January 2021 00:00'

In [ ]:
delta = Time_Now - new_year # Разница между датами, выраженная в днях, секундах и микросекундах
delta

datetime.timedelta(days=360, seconds=17411, microseconds=819516)

In [ ]:
delta.days

360

In [ ]:
delta.seconds

17411

---

# Задание 2

Требуется написать код, рассчитывающий количество рабочих часов с использованием методов модуля datetime.
Требования к коду:
1. Написать функцию *input_date()*, которая запрашивает у пользователя диапазон дат, на котором считается рабочее время. Граничные даты включаются в расчет. Функция возвращает две переменные с датами *start_date, end_date*.
2. Написать функцию *date_to_datetime(start_date, end_date)*, которая преобразует даты в формат datetime. Функция возвращает переменные *start_date, end_date*, преобразованные к формату datetime.
3. Написать функцию *delta_time(start_date, end_date)*, которая рассчитывает разницу во времени. По результату работы функции, в переменную *delta* функции, которая вызвала delta_time, должно быть записано общее количество оцениваемых дней.
4. Написать функцию *day_of_the_week(start_date)*, которая возвращает номер дня недели, соответствующий началу оцениваемого периода, в переменную *start_day_of_the_week*.
5. Написать функцию *calculating_hours(start_day_of_the_week, delta)*, которая возвращает количество рабочих часов за указанный период (и, таким образом, является точкой входа в нашу программу).
6. Сформировать тестовые данные и протестировать программу.

Упрощения:
1. Пятидневная рабочая неделя, суббота и воскресенье - выходные;
2. Каждый день отрабатывается ровно 8 часов;
3. Праздники, отгулы, отпуска и больничные отсутствуют

In [109]:
"""Решение задания 2"""
from datetime import datetime, timedelta, date, time
import math

def input_date():
    start_date = input('Введите start_date в формате YYYY-MM-DD: ')
    end_date = input('Введите end_date в формате YYYY-MM-DD: ')
    return(start_date, end_date)


def date_to_datetime(start_date, end_date):
    try:
      start_date = datetime.strptime(start_date, '%Y-%m-%d') # Распознаем из строки дату и время согласно формату '%Y-%m-%d'
      end_date = datetime.strptime(end_date, '%Y-%m-%d')
    except:
      print('Некорректный ввод дат! Повторите ввод дат в формате YYYY-MM-DD')
      return -1
    if start_date >= end_date:
      print('Некорректные даты!')
      return -1
    return (start_date, end_date)


def delta_time(start_date, end_date):
    delta = end_date - start_date       # Разница между датами, выраженная в днях
    delta = delta.days 
    delta = delta + 1
    return (delta)  


def day_of_the_week(start_date):
    start_day_of_the_week = datetime.isoweekday(start_date) # Номер дня недели (понедельник - 1)
    return (start_day_of_the_week)
    
def calculating_hours(start_day_of_the_week, delta):
    working_days = [i for i in range(start_day_of_the_week, start_day_of_the_week + delta)]
    if (start_day_of_the_week == 7):
        if 13 in working_days:
            del working_days[working_days.index(13):delta:7]
    elif 6 in working_days:
        del working_days[working_days.index(6):delta:7]
    if 7 in working_days:
        del working_days[working_days.index(7):delta:6]
    working_hours = len(working_days) * 8
    return working_hours

In [110]:
"""Тестирование задания 2"""
start_date, end_date = date_to_datetime(*input_date())
print('Kоличество рабочих часов за период ', calculating_hours(day_of_the_week(start_date), delta_time(start_date, end_date)  ))
if (calculating_hours(3, 731) == 4184 and calculating_hours(1, 367) == 2104 and calculating_hours(7, 30) == 168 and calculating_hours(5, 14) == 80 and calculating_hours(3, 366) == 2096 and calculating_hours(7, 18) == 104):
    print('Ошибки не выявлены')
else:
    print('Выявлены ошибки')

Введите start_date в формате YYYY-MM-DD: 2022-04-01
Введите end_date в формате YYYY-MM-DD: 2022-04-30
Kоличество рабочих часов за период  168
Ошибки не выявлены

---

Практически всегда в датасетах дата и время представлены строкой в формате ***год-месяц-день часы:минуты:секунды***, например:

In [ ]:
Date_Time = '2021-01-02 21:15:06'
Date_Time

'2021-01-02 21:15:06'

В таком виде информация практически не может быть использована в задачах машинного обучения. Поэтому необходимо научиться преобразовывать эту строку и извлекать из нее полезную информацию. Мы уже рассмотрели библиотеку DateTime и можно пользоваться ею, но можно воспользоваться и просто обработкой строки, зная ее формат. Например, мы можем разбить строку на дату и время:

In [ ]:
Date, Time = Date_Time.split()
Date, Time

('2021-01-02', '21:15:06')

Теперь мы можем разбить дату на год, месяц и день, а время - на часы, минуты и секунды:

In [ ]:
Y, M, D = Date.split('-')
print(Y, M, D)
h, m, s = Time.split(':')
print(h, m, s)

2021 01 02
21 15 06

В данном способе есть недостаток - результат у нас записан в виде строк:

In [ ]:
type(Y)

str

Чтобы получить целочисленные значения, можно модифицировать код следующим образом:

In [ ]:
Y, M, D = map(int, Date.split('-'))
print(Y, M, D)
h, m, s = map(int, Time.split(':'))
print(h, m, s)

2021 1 2
21 15 6

In [ ]:
type(Y)

int

---

# Задание 3

Вам нужно написать функцию, которая из входного объекта datetime будет выделять следующую информацию:

1. Дата - в формате ***год-месяц-день***;
2. Год;
3. Месяц;
4. День;
5. Порядковый номер недели;
6. День недели (например, понедельник);
7. Время - в формате ***часы-минуты-секунды***;
8. Часы;
9. Минуты;
10. Секунды;
11. Количество секунд с начала дня.

Эту функцию необходимо применить к таблице, в которой уже есть колонка с datetime'ами, и добавить в эту таблицу 11 новых столбцов, содержащих в себе значения из пп. 1-11. Очередность и название столбцов такие же, как в списке выше.

Добиться результата можно различными способами.

Для получения исходной информации необходимо выполнить код:

In [135]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')   # чтобы можно было оттуда считать файл с данными для этого задания

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [136]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [169]:
# здесь и далее вам понадобится менять пути к файлам, поскольку в вашей системе вы их можете записать в другое место

data = pd.read_excel('/content/drive/MyDrive/school21/day01/datasets/Даты.xlsx')
data

               datetime
0   2021-01-26 17:22:41
1   2013-04-18 14:44:04
2   2017-11-12 21:51:06
3   2001-09-14 22:48:09
4   2012-12-03 18:05:30
..                  ...
95  2002-04-06 14:45:02
96  2010-01-17 19:29:42
97  2016-09-20 13:10:02
98  2019-11-27 15:05:00
99  2005-02-08 18:53:40

[100 rows x 1 columns]

Добавлять значения в таблицу можно следующим образом:

In [185]:
data['Дата'] = data['Год'] = data['Месяц'] = data['День'] = data['Порядковый номер недели'] = ''
data['День недели'] = data['Время'] = data['Часы'] = ''                                       #создаем пустые столбцы, 
data['Минуты'] = data['Секунды'] = data['Количество секунд с начала дня'] = ''

for i in range(100):
    try:
        date, time = data['datetime'][i].split(' ')
        Y, M, D = map(int, date.split('-'))
        h, m, s = map(int, time.split(':'))
        day = datetime.strptime(date, '%Y-%m-%d')
        h2, m2, s2 = map(str, time.split(':'))
        time2 = h2 + '-' + m2 + '-' + s2
        data['Дата'][i] = date
        data['Год'][i] = Y
        data['Месяц'][i] = M
        data['День'][i] = D
        data['Порядковый номер недели'][i] = day.isocalendar()[1]
        data['День недели'][i] = ['понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'четверг', 'суббота', 'воскресение'][datetime.isoweekday(day) - 1]
        data['Время'][i] = time2
        data['Часы'][i] = h
        data['Минуты'][i] = m
        data['Секунды'][i] = s
        data['Количество секунд с начала дня'][i] = h * 3600 + m * 60 + s
    except:
        print('Ошибка', data['datetime'][i])

data

,datetime,Дата,Год,Месяц,День,Порядковый номер недели,День недели,Время,Часы,Минуты,Секунды,Количество секунд с начала дня
0,2021-01-26 17:22:41,2021-01-26,2021,1,26,4,вторник,17-22-41,17,22,41,62561
1,2013-04-18 14:44:04,2013-04-18,2013,4,18,16,четверг,14-44-04,14,44,4,53044
2,2017-11-12 21:51:06,2017-11-12,2017,11,12,45,суббота,21-51-06,21,51,6,78666
3,2001-09-14 22:48:09,2001-09-14,2001,9,14,37,пятница,22-48-09,22,48,9,82089
4,2012-12-03 18:05:30,2012-12-03,2012,12,3,49,понедельник,18-05-30,18,5,30,65130
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2002-04-06 14:45:02,2002-04-06,2002,4,6,14,четверг,14-45-02,14,45,2,53102
96,2010-01-17 19:29:42,2010-01-17,2010,1,17,2,суббота,19-29-42,19,29,42,70182
97,2016-09-20 13:10:02,2016-09-20,2016,9,20,38,вторник,13-10-02,13,10,2,47402
98,2019-11-27 15:05:00,2019-11-27,2019,11,27,48,среда,15-05-00,15,5,0,54300
99,2005-02-08 18:53:40,2005-02-08,2005,2,8,6,вторник,18-53-40,18,53,40,68020

Сохранить полученный результат можно следующим образом:

In [187]:
nik_name = 'rriddler'
data.to_excel('/content/drive/MyDrive/school21/day01/datasets/Даты '+nik_name+'.xlsx', index=False)

Для выполнения задания вам нужно будет сохранить новый файл в ту же папку, откуда мы берем файл Даты.xlsx

Good_luck = 'Удачи!'